@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0fdf4;
}

#password::-ms-reveal,
#password::-ms-clear {
    display: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #A8DADC
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #A8DADC !important;
}

html::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}